.cards{
	width: 10%;
}

.hide{
	display: none;
}

#winning-hand-details-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}

.winning-hand-details{
	text-align: justify;
	margin: auto 30px;
}

.button{
	background-color: yellow;
}

body{
	text-align: center;
	background-color: blue;
	color: yellow;
}