.cards{
	width: 10%;
}

.hide{
	display: none;
}

.win{
	color: red;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

#winning-hand-details-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}

.winning-hand-details{
	text-align: justify;
	margin: auto 30px;
}

.button{
	background-color: yellow;
}

#notification{
	font-size: 24px;
}

#chips-container{
	display: flex;
	justify-content: space-around;
}

body{
	text-align: center;
	background-color: blue;
	color: yellow;
}

h1 {
	color: red;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}